<div *ngIf="lastError">
  <div class="alert alert-danger col-12" role="alert">
    <span [translate]="'E' + (lastError.statusCode || 500) + '.title'"></span><br />
    <small *ngIf="lastError.statusCode >= 0" [translate]="'E' + (lastError.statusCode || 500) + '.message'"></small>
    <small *ngIf="lastError.statusCode == null">{{ lastError.message }}</small
    ><br />
    <small *ngIf="lastError.error?.message">{{ lastError.error.message }}</small
    ><br />
  </div>
</div>
<ng-container *ngIf="user && !!user.enabled">
  <div>
    <p [translate]="'Admin.Users.RemoveUserAction.Description'" [translateParams]="{username: user.name}"></p>
    <p [translate]="'Admin.Users.RemoveUserAction.Information'"></p>
  </div>
</ng-container>
<ng-container  *ngIf="user && !user.enabled">
  <p [translate]="'Admin.Users.RemoveUserAction.ActiveUsers'"></p>
</ng-container>
