<div class="row">
  <div class="col-12">
    <app-advanced-table-search [(filter)]="filter" [collapsed]="true" [showMore]="false" [table]="members">
    </app-advanced-table-search>
  </div>
</div>
  <div class="row">
    <div class="col-auto mt-3" *ngIf="recordsTotal>0">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Admin.Users.TitlePlural'"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Admin.Users.Title'"></span>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">
      <div class="btn-group" *ngIf="this.members && this.members.selectable">
        <button  class="btn btn-outline-indigo btn-lg" type="button" (click)="addUser()"
                [translate]="'Admin.Users.Add'">
        </button>
        <button type="button" class="btn btn-lg btn-outline-indigo dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <button [disabled]="!(this.members && this.members.selected && this.members.selected.length)"
                  class="dropdown-item" (click)="removeUser()" [translate]="'Admin.Groups.RemoveUsers.Title'">
            </button>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" (click)="members.selectAny()" [translate]="'Tables.SelectAll'">Select all</button>
          <button class="dropdown-item" (click)="members.selectNone()" [translate]="'Tables.ClearSelection'">Clear selection</button>
        </div>
      </div>
    </div>
    </div>
    <div class="col-12 mb-4">
      <app-advanced-table #members [height]="600" [config]="members.config" (load)="onDataLoad($event)" ></app-advanced-table>
    </div>


