<ng-container *ngIf="radioOptions && radioOptions.length > 0">
  <div class="s--btn-group-toggle">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <ng-container *ngFor="let option of radioOptions">
        <label class="btn btn-toggle" [class.active]="option.checked">
          <input type="radio" [attr.name]="option.id" [attr.id]="option.id" [checked]="option.checked" (click)="listSelection.emit(option)">
          <span>{{option.title | translate}}</span>
        </label>
      </ng-container>
    </div>
  </div>
</ng-container>
