<div class="row">
  <div class="col-12 my-3">
    <h5 [translate]="'Admin.Departments.Title'"></h5>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <app-advanced-table-search [(filter)]="filter" [collapsed]="true" [showMore]="false" [table]="departments">
    </app-advanced-table-search>
  </div>
</div>
<div class="row">
  <div class="pull-right ml-auto mr-3 my-3">
    <div class="font-lg btn-toolbar mt-3">
      <a *ngIf="this.departments && this.departments.selected && this.departments.selected.length"
         class="text-danger text-decoration-none mr-2" href="javascript:void(0)" (click)="removeDepartment()">
        <span>-</span><span>&nbsp;</span><span [translate]="'Admin.Departments.Remove'"></span>
      </a>
      <a class="font-lg btn-toolbar text-indigo text-decoration-none" (click)="addDepartment()" type="button">
        <span>+</span><span>&nbsp;</span> <span  [translate]="'Admin.Departments.Add'"></span>
      </a>    </div>
  </div>

</div>
<div class="row">
  <div class="col-12 mb-4">
    <app-advanced-table #departments [height]="600"></app-advanced-table>
  </div>
</div>
