<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h5 class="card-title font-xl text-dark  my-auto" [translate]="'Admin.Users.Info'"></h5>
    <!-- <a href="#/users/{{user.id}}/dashboard/general" class="text-primary my-auto my-auto"
        [translate]="'users.More'"></a>-->
  </div>
  <div class="card-body pt-0 pb-3">

  </div>

  <div class="card-footer border-top py-4 text-secondary">
    <div class="form-group row mb-2">
      <div class="col-5">
        <span [translate]="'Admin.Users.AlternateName'"></span>
      </div>
      <div class="col-7 text-dark">
        <span>{{user?.alternateName}}</span>
      </div>
    </div>
    <div class="form-group row mb-2">
      <div class="col-5">
        <span [translate]="'Admin.Users.Name'"></span>
      </div>
      <div class="col-7 text-dark">
        <span>{{user?.name}}</span>
      </div>
    </div>
    <div class="form-group row mb-2">
      <div class="col-5">
        <span [translate]="'Admin.Users.StatusTitle'"></span>
      </div>
      <div class="col-7 text-dark">
        <span>{{'Admin.Users.Enabled.' + user?.enabled | translate}}</span>
      </div>
    </div>
    <div class="form-group row mb-2">
      <div class="col-5">
        <span [translate]="'Admin.Users.Type'"></span>
      </div>
      <div class="col-7 text-dark">
        <span>{{user?.additionalType}}</span>
      </div>
    </div>

    <div class="form-group row mb-2" *ngIf="user?.lockoutTime">
      <div class="col-5">
        <span [translate]="'Admin.Users.LockoutTime'"></span>
      </div>
      <div class="col-7 text-dark">
        <span>{{user?.lockoutTime}}</span>
      </div>
    </div>
    <div class="form-group row mb-2" *ngIf="user?.description">
      <div class="col-5 mb-1">
        <span [translate]="'Admin.Users.Description'"></span>
      </div>
      <div class="col-7 text-dark">
        <span>{{user?.description}}</span>
      </div>
    </div>
  </div>
