<div class="row">
  <div class="col-12 my-3">
    <h5 [translate]="'Admin.ModificationHistory.Title'"></h5>
    <p [translate]="'Admin.ModificationHistory.Description'"></p>
  </div>
</div>
<div class="row">
  <div class="col-12 mb-4">
    <app-advanced-table #table></app-advanced-table>
  </div>
</div>
