<div>
  <div class="modal-header">
    <h4 class="modal-title" [translate]="'Admin.Groups.DefaultGroupPrivileges'"></h4>
    <button (click)="cancel()" type="button" class="close" data-dismiss="modal"
      aria-label="Cancel">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body pt-0 mt-2 pb-0">
    <div class="row" *ngIf="lastError">
      <div class="col-12">
        <div class="alert alert-warning" role="alert">
          <span>{{ 'Admin.Groups.PrivilegeError' | translate }}</span><br>
          <small *ngIf="lastError.status >= 0" [translate]="'E' + lastError.status + '.message'"></small>
          <small *ngIf="lastError.status == null">{{lastError.message}}</small>
        </div>
      </div>
    </div>
    <ng-container *ngIf="lastError == null">
      <div class="row">
        <div class="col-12">
          <app-advanced-table-search [collapsed]="true" [showMore]="false" [table]="table">
          </app-advanced-table-search>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-auto" *ngIf="recordsTotal > 0">
          <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
            <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Admin.Groups.Privileges'"></span>
          </div>
          <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
            <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Admin.Groups.Privilege'"></span>
          </div>
        </div>
        <div class="col-12">
          <app-advanced-table #table [tableEditor] [height]="600" (load)="onDataLoad($event)" [serverSide]="false"></app-advanced-table>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="modal-footer justify-content-end">
    <button (click)="cancel()" type="button" class="btn btn-indigo"
      data-dismiss="modal">
      {{'Admin.Close' | translate}}
    </button>
  </div>
</div>
