<div class="row mt-4" *ngIf="data">
  <div class="col-lg-7 col-md-7 col-12">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div>
                <advanced-form-edit #form [data]="data" [formName]="src" (formSubmitted)="onCompletedSubmission($event)"></advanced-form-edit>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-5 col-md-5 col-12">
    <lib-user-preview [user]="data"></lib-user-preview>
  </div>
</div>
<router-modal></router-modal>
