<div class="col-12">
  <h2 class="text-secondary">{{'Admin.Groups.TitlePlural' | translate }}</h2>
</div>
<div class="col-12">
  <app-advanced-table-search [(filter)]="filter" [collapsed]="true" [showMore]="false" [table]="table">
  </app-advanced-table-search>
</div>
<div class="row">
  <div class="pull-right ml-auto mr-5 my-3">
    <div class="font-lg btn-toolbar mt-3">
      <a
        class="text-theme text-decoration-none mr-2" [routerLink]="['.', { outlets:{ modal:'add'} }]">
        <span>+</span><span>&nbsp;</span><span [translate]="'Admin.Groups.NewTitle'"></span>
      </a>
    </div>
    
  </div>
</div>
<div class="col-12">
  <app-advanced-table #table [height]="600"></app-advanced-table>
</div>
<router-modal></router-modal>
