.search_navbar {
  display: flex;
  flex-wrap: wrap;
  padding-top: auto;
  margin-bottom: 3%;
  border: 1px solid #c2cfd6;
  border-radius: 6px;
  background-color: #f0f3f5;
  place-content: center;
}
