<p class="font-xl text-secondary" [translate]="'Admin.DefaultPrivileges'" [translateParams]="{entityType: entityType}"></p>
<ng-container *ngIf="!isLoading && defaultPrivileges.length > 0">
  <div id="group-list" class="flex-column">
    <ul class="sis--list-group sis--list-group-header">
      <li class="sis--list-group-item">
        <div class="d-flex justify-content-center align-items-center">
          <div class="sis--list-group-item_lg_column text-left" [translate]="'Admin.Permissions.Name'"></div>
          <div class="sis--list-group-item_lg_column d-none d-lg-block" [translate]="'Admin.PrivilegeType'">Code</div>
          <div class="sis--list-group-item_lg_column d-none d-lg-block" [translate]="'Admin.PrivilegeFilter'">Teacher</div>
          <div class="sis--list-group-item_lg_column d-none d-lg-block" [translate]="'Admin.PrivilegeActions'">Exam Period</div>
        </div>
      </li>
    </ul>
    <ul class="sis--list-group sis--list-group-body">
      <ng-container *ngFor="let defaultPrivilege of defaultPrivileges">
        <li class="sis--list-group-item">
          <div class="d-flex justify-content-center align-items-center list-color">
            <div class="sis--list-group-item_lg_column">{{ defaultPrivilege.account }}</div>
            <div class="sis--list-group-item_lg_column d-none d-lg-block"> {{ ('Admin.DefaultPrivilegeTypes.' + defaultPrivilege.type) | translate }} </div>
            <div class="sis--list-group-item_lg_column d-none d-lg-block">{{ defaultPrivilege.filter || '-'}}</div>
            <div class="sis--list-group-item_lg_column d-none d-lg-block">{{ defaultPrivilege.readableMask }}</div>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
</ng-container>
<ng-container *ngIf="!isLoading && defaultPrivileges.length === 0">
  <p [translate]="'Admin.NoDefaultPrivilegesFound'"></p>
</ng-container>
